.cardItem {
    display: flex;
    flex-direction: column;
    font-weight: 100;
    margin-top: 16px;
}

.cardItem .name {
    display: flex;
    flex-direction: row;
    font-weight: 500;
}

.cardItem .color {
    height: 16px;
    width: 16px;
    margin-right: 8px;
}

